<% labels = ['email', 'username', 'pin', 'website', 'address', 'alias' ] %>


<% labels.each do |sticker| %>

	<label for= <%= sticker %> ><%=sticker%></label>
<input type="text" name= <%= sticker %> id= <%= sticker %> class="fancy_form" >  

<% end %> 

<h1> unfactored </h1>




